@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
textarea {
    resize: none;
}
.App-link {
    color: #61dafb;
}

body {
    font-family: 'ubuntu', 'sans-serif';
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.group:focus-within {
    border: 2px solid #9b9a9a; /* Đổi màu và kích thước border theo mong muốn */
}
